.nnav-contact{
    background: #145E76;
}
.fiksed{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 30px 2px rgb(0, 0, 0);
    z-index: 23443534233423542345546345;
}
.bac-color{
    border: 20px solid #265A6A
}
.dijital-color{
    background: #094556;
}
.position{
    position: absolute;
    top: 590px;
}
.margin{
    margin-top: 200px;
}
.marginn{
    margin-top: 90px;
}
.nav-contact h2{
 color: #145E76;
}
.icons-one{
font-size: 40px;
font-weight: 40px;
margin-top: 60px;
}
.icons-one i{
    background: #FFA63A;
    border: 2px solid #FFA800;
}
.dijital-nav{padding-bottom: 130px !important;}
.icons-two{
    font-size: 30px;
}
.icons-two i{
    color:  #757575;
}
@media(max-width:750px){
   .position{
    position: absolute;
    top: 500px;
    right: 45px;
   }
   .none-none img{
    display: none !important;
   }
   .with-portfolio__img{
    width: 80%;
   }
   .none--footer{
    display: none !important;
   }
   .d{
    margin-top: 300px;
   }
}